body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #007BFF;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.5em;
    color: #333;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
}

#countdown div {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 80px; /* Ajusta el ancho mínimo según sea necesario */
    box-sizing: border-box;
}

#countdown span {
    display: block;
    text-align: center;
}

#countdown span:first-child {
    font-size: 2em;
    color: #007BFF;
}

#welcome-message {
    margin-top: 30px;
}

#welcome-message img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #007BFF;
}

/* Media Query para dispositivos móviles */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    #countdown {
        font-size: 1.2em;
        gap: 5px;
    }

    #countdown div {
        padding: 10px;
        min-width: 60px; /* Ajusta según sea necesario */
    }

    #welcome-message img {
        width: 120px;
        height: 120px;
    }
}
